.cartRow {
	border-top: 2px solid;
	padding-top: 5px;
}

.productLogo {
	width: 100%;
}

.cartSummaryBox {
	border: 2px solid;
}

#cartSummaryTitle{
	padding-top: 10%;
}

#totalSummary {
	padding-top: 30%;
	padding-bottom: 25%;
}

#checkoutButton {
	margin-bottom: 5%;
}