
#storeLogo img{
	height: 70px;
}

#searchBar{
	padding-top: 15px;
}

input[id='search']{
	background-image: url(../res/search.png);
    background-position: 97% 7px;
    background-repeat: no-repeat;
    background-size: 25px 25px;
    width: 100%;
    height: 40px;
}


#userImage img{
	height: 70px;
}


#shopCartIcon img{
	height: 70px;
	padding-bottom: 10px;
}

.row img{
	height: 70px;
}