<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/css/topbar.css">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<!-- Optional Bootstrap theme -->
	<script src="/js/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</head>

<body>
	<nav id="topbar" class="container-fluid">
		<div class="row">
			<div id="storeLogo" class="col-xs-2">
				<a href="/"><img src="/images/logo.png" alt="Store Logo"></a>
			</div>
			<div id="searchBar" class="col-xs-5 col-xs-offset-1">
				<form id="searchBox" action="">
					<input id="search" type="text" placeholder="Search">
				</form>
			</div>
			<div id="userImage" class="col-xs-1 col-xs-offset-1">
				<a href="/profile"><img src="/images/user.png" alt="user icon"></a>
			</div>
			<div id="shopCartIcon" class="col-xs-1">
				<a href="/cart"><img src="/images/cartIcon.png" alt="cart icon"></a>
			</div>
			<div id"waiting" class="col-xs-1">
				<div class="sk-circle" hidden>
					<div class="sk-circle1 sk-child"></div>
					<div class="sk-circle2 sk-child"></div>
					<div class="sk-circle3 sk-child"></div>
					<div class="sk-circle4 sk-child"></div>
					<div class="sk-circle5 sk-child"></div>
					<div class="sk-circle6 sk-child"></div>
					<div class="sk-circle7 sk-child"></div>
					<div class="sk-circle8 sk-child"></div>
					<div class="sk-circle9 sk-child"></div>
					<div class="sk-circle10 sk-child"></div>
					<div class="sk-circle11 sk-child"></div>
					<div class="sk-circle12 sk-child"></div>
				</div>
			</div>
		</div>
	</nav>