{{> adminheader}}

<div id="page-wrapper">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="page-header">Products</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    {{#each products}}
    <div class="row">
        <div class="col-xs-12">
            <form id="addImageToProduct{{idProdutoPrimavera}}" action="/admin/products/addImage/{{idProdutoPrimavera}}" method="POST" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-xs-8">
                        <h5 style="overflow:hidden;">id: {{idProdutoPrimavera}}, description: {{Description}}</h5>
                    </div>
                    <br>
                    <div class="col-xs-3">
                        <input type="file" name="image" accept="image/*" required="required">
                    </div>
                    <div class="col-xs-1">
                        <input type="submit">
                    </div>
                </div>
            </form>
        </div>
    </div>
    {{/each}}
</div>
<!-- /#page-wrapper -->

{{> adminfooter}}