{{> header}}

<head>
  <link rel="stylesheet" type="text/css" href="../css/order.css">
</head>

<table id="ordersTable" class="shop_table">
  <thead>
    <tr>
      <th>Date of Purchase</th>
      <th>Order</th>
      <th>Total Value</th>
      <th>PDF</th>
    </tr>
  </thead>
  <tbody>
    {{#each orders}}
    <tr>
      <th class="tableDate">{{Data}}</td>
      <td class="tableId">{{id}}</td>
      <td class="tableAmmount">{{TotalMerc}}€</td>
      <td>
        <a href='pdf/{{id}}'><img id="pdficon" src="/images/pdf.png" alt="pdf icon"></a>
      </td>
      <tr>
        {{/each}}
  </tbody>
</table>

{{> footer1}}