.product img{
	width:100%;
}

.product button{
	float: right;
}

.nav-tabs li{
	width: 25%;
}

.promofield{
	background-color: orange;
	font-weight: bold;
}

.product{
	border:1px solid gray;
	padding: 15px;
}

.productName{
	font-weight: bold;
}

.familia_bt{
	border: 1px solid black;
    background-color: #eee;
}

.familia_bt:hover{
	background-color: #17a78b;
}