.product img{
	width:100%;
}

.product button{
	float: right;
}

.nav-tabs li{
	width: 25%;
}

#products .row{
	margin-top: 10px;
}

.productName{
	font-weight: bold;
}

.familia_bt{
	border: 1px solid black;
    background-color: #eee;
}

.familia_bt:hover{
	background-color: #17a78b;
}